
extends baseEmail

block content
    p Dear #{recipientName},
    p Thank you for using Event DTL Pvt Ltd. To ensure the security of your account, please use the One-Time Password (OTP) provided below to complete your verification process.
    p Your OTP is: #{otp}
    p This OTP is valid for the next 5 minutes. If you did not request this verification, please disregard this email or contact our support team immediately.
    p For your security, do not share this OTP with anyone. If you have any questions or need assistance, feel free to reach out to our support team at info@eventdtl.com.
    p Thank you for choosing Event DTL Pvt Ltd.
    p Best regards,
    p Event DTL Pvt Ltd
    p Email: eventdtl@gmail.com
    p Website: https://eventdtl.com/
