extends baseEmail

block content
    p Dear #{recipientName},,
        p Thank you for using Event DTL Pvt Ltd. To ensure the security of your account, please use the One-Time Password (OTP) provided below to complete your verification process. 
        
        p Reset Password Mail is send to this url : #{url}.

        p We're all a big familiy here
        table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
                tr
                    td(align='left')
                        table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                            tbody
                                tr
                                    td
                                        a(href=`${url}`, target='_blank') Verify you'r Token
        p If you didn't send reset mail,please ignore this mail!
        p - Thank you for choosing Event DTL Pvt Ltd.
        p Best regards,
        p Event DTL Pvt Ltd
        p Email: eventdtl@gmail.com
        p Website: https://eventdtl.com/